:root {
  --black: #0f0f0f;
  --white: #ffffff;
  --orange: #6d0000;
  --orange-hover: #ca4949ce;
  --btn-hover: #f0d3d33d;
  --gray: #414141;
  --shadow-soft: 0 10px 25px rgba(0, 0, 0, 0.301);
  --shadow-medium: 0 15px 35px rgb(0, 0, 0);
  --shadow-strong: 0 25px 50px rgba(0, 0, 0, 0.144);
  --transition: all 0.35s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  color: #222;
  padding-top: 100px;
  scroll-behavior: smooth;
}

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(177, 177, 177, 0.199);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  overflow-y: auto; 
  padding: 20px;
}

.Variante{
  padding-left: 124px;
}

@media (max-width: 768px) {
  .Variante{
    padding-left: 69px;
  }
}

.links-login{
  padding: 0;
}

.close-login {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.cinta {
  background-color: var(--orange);
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.cinta p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}


@media (max-width: 768px) {
  .cinta {
    padding: 7px;
  }
  .cinta p {
    font-size: 14px;
  }
}

.container {
  max-width: 1700px;
  margin: auto;
  padding: 0 20px;
}

.custom-navbar {
  background: linear-gradient(90deg, var(--white));
  padding: 8px 0;
  position: fixed;
  top: 35px;
  margin: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  transition: var(--transition);
}

.navbar-brand {
  font-size: 2rem;
  font-family: sans-serif;
  color: black;
  letter-spacing: 2px;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  margin-left: 18px;
  position: relative;
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--orange) !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--orange);
  transition: var(--transition);
}

.nav-link:hover::after {
  width: 100%;
}

.login-bubble {
  margin-left: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 30px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  transition: all .3s ease;
  border: 1px solid #000000;
}

.login-bubble i {
  font-size: 14px;
}

.login-bubble:hover {
  background: var(--orange);
  color: white;
  transform: scale(1.05);
  border: 1px solid #4b3c35;
}

.navbar-toggler {
  border: none;
  font-size: 22px;
  color: black;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.hero-section {
  width: 100%;
  min-height: 620px;
  text-align: center;
  position: relative;
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/ProyectoFront/assets/images/FondoPrincipal.webp');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero-btn {
  background: var(--orange);
  border: none;
  padding: 14px 38px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  transition: var(--transition);
  margin-top: auto;
  margin-bottom: 100px;
}

.hero-btn:hover {
  background: var(--btn-hover);
  transform: translateY(-3px);
  color: #ffffff;
  box-shadow: var(--shadow-soft);
}

@media (max-width: 768px) {
  .hero-btn {
    padding: 12px 30px;
    font-size: 0.95rem;
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .hero-btn {
    width: 90%;
    padding: 14px;
    font-size: 1rem;
    margin-bottom: 40px;
  }
}

.hero-images {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.imagenes-h {
  width: 100%;
  max-width: 380px; 
  height: 495px; 
  object-fit: cover; 
  display: block;
}

@media (max-width: 768px){
  .hero-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .hero-images img{
    width: 100%;
    max-width: 300px;  
    height: 200px;      
    object-fit: cover;  
    border-radius: 10px; 
    object-position: top; 
  }

  .imagenes-h{
    width: 80%;
    height: auto;
  }
}

.section-title {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 700;
  margin: 60px 0 55px;
  position: relative;
}

.section-title::after {
  content: "";
  width: 90px;
  height: 4px;
  background: var(--orange);
  display: block;
  margin: 12px auto;
  border-radius: 10px;
}

.product-card {
  border: none;
  overflow: hidden;
  background: white;
  box-shadow: var(--shadow-soft);
  transition: var(--transition);
}

.product-card:hover {
  transform: translateY(-12px);
  box-shadow: var(--shadow-strong);
}

.product-card img {
  width: 100%;
  object-fit: cover;
  transition: 0.35s;
}

.product-card:hover img {
  transform: scale(1.08);
}

.product-card .card-body {
  padding: 30px 15px;
}

.card-title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1rem;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.price {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;
}

.btn-buy {
  background: var(--orange);
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 22px;
  border-radius: 25px;
  font-weight: 600;
  transition: var(--transition);
}

.btn-buy:hover {
  background: var(--orange-hover);
  transform: scale(1.07);
  color: #ffffff;
  box-shadow: var(--shadow-soft);
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6666661a;
  padding: 40px;
  max-width: 1200px;
  box-shadow: 0 4px 12px #0f0f0f49;
  margin: 80px auto;
  gap: 40px;
}

.form-container {
  width: 50%;
}

.form-header {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-subtext {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-row input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscribe-btn {
  background: var(--orange);
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 700;
  padding: 12px 25px;
  border-radius: 4px;
}

.form-optin {
  display: flex;
  gap: 10px;
  font-size: 13px;
  margin-top: 10px;
}

.form-image {
  width: 55%;
}

.form-image img {
  width: 100%;
  border-radius: 5px;
}
 .form-wrapper-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px;
  padding: 40px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 4px 12px #0f0f0f49;
  gap: 40px;
  position: relative;

  max-height: 90vh;
}

.form-container-login {
  width: 50%;
}

.form-header-login {
  font-size: 28px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-subtext-login {
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.form-row-login {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-row-login input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.is-btn-login {
  background: var(--orange);
  color: white;
  border: none;
  font-weight: 700;
  padding: 12px 25px;
  border-radius: 4px;
}

.form-optin-login {
  display: flex;
  font-size: 13px;
  margin-top: 10px;
}

.form-image-login {
  width: 35%;
}

.form-image-login img {
  width: 100%;
  border-radius: 12px;
}


@media (max-width: 768px) {

  .login-popup{
    align-items: flex-start;   
    padding: 15px;
    overflow-y: auto;
  }

  .form-wrapper-login {
    flex-direction: column;
    padding: 18px;
    gap: 15px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 20px;
  }

  .form-container-login {
    width: 100%;
  }

  .form-image-login {
    display: none;
  }

  .form-row-login {
    flex-direction: column;
    gap: 8px;
  }

  .form-row-login input {
    padding: 10px;
    font-size: 14px;
  }

  .form-header-login {
    font-size: 20px;
  }

  .form-subtext-login{
    font-size: 14px;
  }

  .is-btn-login {
    width: 100%;
    padding: 12px;
  }

  .form-optin-login{
    font-size: 12px;
  }

}

.footer {
  background: var(--black);
  color: white;
  padding: 25px 0 5px;
  margin-top: 110px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
  transition: var(--transition);
}

.footer-links a:hover {
  color: var(--orange);
  padding-left: 6px;
}

.social-icons i {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  transition: var(--transition);
  color: #ccc;
}

.social-icons i:hover {
  color: var(--orange);
  transform: scale(1.25);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width:1024px) {

  .hero-section {
    max-height: 650px;
    padding: 160px 20px;
  }
}

@media(max-width:992px) {

  .hero-section {
    min-height: 550px;
    padding: 140px 20px;
  }

  .form-wrapper {
    flex-direction: column;
    padding: 40px;
  }

  .form-container {
    width: 100%;
  }

  .form-image {
    width: 100%;
  }

}

@media(max-width:768px) {

  .hero-section {
    min-height: 480px;
    padding: 110px 20px;
  }

  .hero-section h1 {
    font-size: 1.9rem;
  }

  .hero-section p {
    font-size: 0.95rem;
  }

  .hero-btn {
    padding: 12px 28px;
  }

  .form-row {
    flex-direction: column;
  }

  .subscribe-btn {
    width: 100%;
  }

}

@media(max-width:480px) {

  .hero-section {
    min-height: 420px;
    padding: 90px 20px;
  }

  .hero-section h1 {
    font-size: 1.6rem;
  }
}

@media (max-width:768px) {

  .hide-mobile {
    display: none;
  }

}

.account-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.account-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.account-icon {
  font-size: 1.5em;
}
.account-icon i {
  color: #333;
}
.account-icon:hover i {
  color: #007bff;
}

